:root{
    --pactico-font:'Pacifico', cursive;
    --Righteous-font: 'Righteous', sans-serif;
}
body{
    background-color: rgba(238, 189, 189, 0.47);
}
h1{
    font-family: var(--pactico-font);
    font-size: 3.5rem;
    width:fit-content;
}
h1::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    height: 25%;
    z-index: -1;
    background-color: #1873db95;
    transition: height 0.3s ease-out;
}
.h1:hover h1::before{
    height: 70%;
}
.h1{
    width: fit-conten;
}
#siteName:focus,#siteLink:focus{
    outline:solid 4px #22b1c478 !important;
}
#siteName,#siteLink{
    transition: all 0.1s linear;
}
.dataEnter{
        border-top: dotted 2px black !important;
        border-bottom: dotted 2px black !important;
}
.valid{
    border: 3px solid greenyellow !important;
}
.invalid{
    border: 3px solid red !important;
}
.text-green{
    color: green !important;
}
.font-wave{
    font-family: var(--Righteous-font);
}
.filter{
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c,#d2a83d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}